---
- name: Validate parameters
  ansible.builtin.assert:
    that:
      - puppeteers_kubernetes_registry_ssl_cert_dir is string
      - puppeteers_kubernetes_registry_ssl_key_dir is string
      - puppeteers_kubernetes_registry_ssl_cert is string
      - puppeteers_kubernetes_registry_ssl_key is string
      - puppeteers_kubernetes_registry_auth_volume is string
      - puppeteers_kubernetes_registry_data_volume is string
      - puppeteers_kubernetes_registry_certs_volume is string
      - puppeteers_kubernetes_registry_volumes_basedir is string
      - puppeteers_kubernetes_registry_expose_port is number
      - puppeteers_kubernetes_registry_htpasswd_users is not string and puppeteers_kubernetes_registry_htpasswd_users is iterable and puppeteers_kubernetes_registry_htpasswd_users is mapping

- name: Install dependencies (Ubuntu)
  ansible.builtin.apt:
    name:
      - ssl-cert
      - podman
      - skopeo
    state: present

- name: Generate snakeoil certificates (Ubuntu)
  ansible.builtin.command:
    cmd: make-ssl-cert generate-default-snakeoil
    creates: "/etc/ssl/certs/{{ puppeteers_kubernetes_registry_ssl_cert }}"

- name: Add podman volume
  containers.podman.podman_volume:
    state: present
    name: "{{ item }}"
  loop:
    - "{{ puppeteers_kubernetes_registry_auth_volume }}"
    - "{{ puppeteers_kubernetes_registry_certs_volume }}"
    - "{{ puppeteers_kubernetes_registry_data_volume }}"

- name: Install Python3 passlib for Ubuntu or Debian
  ansible.builtin.package:
    name: python3-passlib
    state: present
  when: ansible_facts["os_family"] == "Debian"

- name: Create empty htpasswd file
  ansible.builtin.file:
    state: touch
    path: "{{ puppeteers_kubernetes_registry_volumes_basedir }}/{{ puppeteers_kubernetes_registry_auth_volume }}/_data/htpasswd"
    owner: root
    group: root
    mode: '0644'

- name: Populate registry htpasswd file
  community.general.htpasswd:
    state: present
    create: false
    path: "{{ puppeteers_kubernetes_registry_volumes_basedir }}/{{ puppeteers_kubernetes_registry_auth_volume }}/_data/htpasswd"
    name: "{{ item.key }}"
    password: "{{ item.value }}"
    hash_scheme: bcrypt
  loop: "{{ puppeteers_kubernetes_registry_htpasswd_users | dict2items }}"

- name: Add podman volume systemd quadlet
  containers.podman.podman_volume:
    name: "{{ item }}"
    state: quadlet
  loop:
    - "{{ puppeteers_kubernetes_registry_auth_volume }}"
    - "{{ puppeteers_kubernetes_registry_certs_volume }}"
    - "{{ puppeteers_kubernetes_registry_data_volume }}"
  notify:
    - Run systemctl daemon-reload

- name: Copy cert to volume
  ansible.builtin.copy:
    src: "{{ puppeteers_kubernetes_registry_ssl_cert_dir }}/{{ puppeteers_kubernetes_registry_ssl_cert }}"
    remote_src: true
    dest: "{{ puppeteers_kubernetes_registry_volumes_basedir }}/{{ puppeteers_kubernetes_registry_certs_volume }}/_data/{{ puppeteers_kubernetes_registry_ssl_cert }}"
    owner: root
    group: root
    mode: '0755'

- name: Copy key to volume
  ansible.builtin.copy:
    src: "{{ puppeteers_kubernetes_registry_ssl_key_dir }}/{{ puppeteers_kubernetes_registry_ssl_key }}"
    remote_src: true
    dest: "{{ puppeteers_kubernetes_registry_volumes_basedir }}/{{ puppeteers_kubernetes_registry_certs_volume }}/_data/{{ puppeteers_kubernetes_registry_ssl_key }}"
    owner: root
    group: root
    mode: '0755'

- name: Add registry container
  containers.podman.podman_container:
    name: "registry"
    image: docker.io/library/registry:3
    ports:
      - "{{ puppeteers_kubernetes_registry_expose_port }}:443"
    volumes:
      - "{{ puppeteers_kubernetes_registry_data_volume }}:/var/lib/registry:rw"
      - "{{ puppeteers_kubernetes_registry_certs_volume }}:/certs:ro"
      - "{{ puppeteers_kubernetes_registry_auth_volume }}:/auth:ro"
    env:
      REGISTRY_HTTP_ADDR: "0.0.0.0:443"
      REGISTRY_HTTP_TLS_CERTIFICATE: "/certs/{{ puppeteers_kubernetes_registry_ssl_cert }}"
      REGISTRY_HTTP_TLS_KEY: "/certs/{{ puppeteers_kubernetes_registry_ssl_key }}"
      REGISTRY_AUTH: "htpasswd"
      REGISTRY_AUTH_HTPASSWD_PATH: "/auth/htpasswd"
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry realm"
    state: created

- name: Create Quadlet for the registry container
  containers.podman.podman_container:
    name: "registry"
    image: docker.io/library/registry:3
    ports:
      - "{{ puppeteers_kubernetes_registry_expose_port }}:443"
    volumes:
      - "{{ puppeteers_kubernetes_registry_data_volume }}:/var/lib/registry:rw"
      - "{{ puppeteers_kubernetes_registry_certs_volume }}:/certs:ro"
      - "{{ puppeteers_kubernetes_registry_auth_volume }}:/auth:ro"
    env:
      REGISTRY_HTTP_ADDR: "0.0.0.0:443"
      REGISTRY_HTTP_TLS_CERTIFICATE: "/certs/{{ puppeteers_kubernetes_registry_ssl_cert }}"
      REGISTRY_HTTP_TLS_KEY: "/certs/{{ puppeteers_kubernetes_registry_ssl_key }}"
      REGISTRY_AUTH: "htpasswd"
      REGISTRY_AUTH_HTPASSWD_PATH: "/auth/htpasswd"
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry realm"
    state: quadlet
  notify:
    - Run systemctl daemon-reload
    - Restart registry service

- name: Local registry configuration
  ansible.builtin.template:
    src: 900-local-registry.conf.j2
    dest: /etc/containers/registries.conf.d/900-local-registry.conf
    owner: root
    group: root
    mode: '0644'

- name: Add garbage collection cronjob
  ansible.builtin.cron:
    name: registry-garbage-collect
    minute: 35
    job: "(echo; echo -n \"Garbage collection started \"; date -u; echo) >> /var/log/registry-garbage-collect.log && /usr/bin/podman exec -it registry registry garbage-collect /etc/distribution/config.yml --delete-untagged | tee -a /var/log/registry-garbage-collect.log"
