USERNAME={{ puppeteers_kubernetes_registry_metrics_registry_username }}
PASSWORD={{ puppeteers_kubernetes_registry_metrics_registry_password }}
REGISTRY_HOST={{ puppeteers_kubernetes_registry_metrics_registry_host }}
REGISTRY_PORT={{ puppeteers_kubernetes_registry_metrics_registry_port }}
CRICTL={{ puppeteers_kubernetes_registry_metrics_crictl }}
IMAGE={{ puppeteers_kubernetes_registry_metrics_image }}
TAG={{ puppeteers_kubernetes_registry_metrics_tag }}
METRICS_FILE={{ puppeteers_kubernetes_registry_metrics_metrics_file }}
