---
- name: Create staging directory
  ansible.builtin.file:
    path: "{{ puppeteers_kubernetes_k3s_staging_directory }}"
    state: directory
    owner: root
    group: root

- name: Copy k3s installation script
  ansible.builtin.copy:
    src: files/install-k3s.sh
    dest: "{{ puppeteers_kubernetes_k3s_staging_directory }}/install-k3s.sh"
    owner: root
    group: root
