- name: Validate parameters
  ansible.builtin.assert:
    that:
      - ns is string

- name: Import role
  ansible.builtin.import_role:
    name: puppeteers.kubernetes.apply_yaml
  vars:
    ns: "{{ ns }}"
    puppeteers_kubernetes_apply_yaml_src: "."
    puppeteers_kubernetes_apply_yaml_present:
      - namespace
      - serviceaccount
      - role
      - rolebinding

- name: Force kubectl to apply resources with the handler
  ansible.builtin.meta: flush_handlers
